"Asenkron Proje 1 - Yandex API/app.js"   linguist-vendored=true
"Asenkron Proje 1 - Yandex API/ui.js"   linguist-vendored=true
"Asenkron Proje 2 - Exchange API/app.js" linguist-vendored=true
"Asenkron Proje 2 - Exchange API/ui.js" linguist-vendored=true
"Asenkron Proje 3 - Github API/app.js" linguist-vendored=true
"Asenkron Proje 3 - Github API/ui.js" linguist-vendored=true
"Asenkron Proje 3 - Github API/storage.js" linguist-vendored=true
"Asenkron Proje 3 - Github API/index.html" linguist-vendored=true



